<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CK_Sync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <CK_Sync.Properties.Settings>
            <setting name="CK_Sync_WebFeature_Feature" serializeAs="String">
                <value>http://192.168.154.130/IGSLandService/Feature.asmx</value>
            </setting>
        </CK_Sync.Properties.Settings>
    </applicationSettings>
</configuration>
