<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="OASyn" value="true"/>
  <add key="OA_DBIP" value="192.168.154.130" />
  <add key="OA_DBPort" value="1521" />
  <add key="OA_DBName" value="orcl" />
  <add key="OA_DBUserName" value="weboa" />
  <add key="OA_DBPassword" value="weboa" />
  <add key="MDBSyn" value="true"/>
  <add key="MDB_PATH" value=""/>
  <add key="MDB_ConnectString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source="/>
  <add key="IGSSyn" value="true"/>
  <add key="IGS_PATH" value="127.0.0.1"/>
  <add key="Debug" value="true"/>
</configuration>